@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --no_bg  : transparent;
    --shadow : 0.5px 0.5px 5px #bdbdbd;
    --shadow2: 2px 2px 5px #ddd, -1px -1px 5px #ddd;
    --shadow3: 2px 2px 3px #ddd;
    --shadow4: 0px 3px 4px #ddd;
    --glass:rgba(255, 255, 255, 0.8);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius        : 10px;
    background           : #ebebebd3;
}

html {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color          : dodgerblue;
}

ul li {
    list-style: none;
}

nav {
    height    : 3rem;
    position  : fixed;
    background: white;
    width     : 100%;
    box-shadow: var(--shadow);
    z-index   : 999;
}

nav #right {
    display     : flex;
    float       : right;
    margin-right: 1.5rem;
    margin-top  : -7px;
}

nav #right li {
    list-style: none;
    margin-top: 1rem;
}

nav #right li .dropdown .dropbtn {
    height    : 30px;
    width     : 30px;
    background: none;
    cursor    : pointer;
}

.user-circle {
    font-size  : 7px;
    position   : absolute;
    margin-left: -25px;
    margin-top : -10px;
    color      : #28cf28;
}

.notification-circle {
    font-size  : 7px;
    position   : absolute;
    margin-left: -50px;
    margin-top : -10px;
}

.profile_link {
    height     : 40px;
    width      : 40px;
    margin-left: 1rem;
    margin-top : -1.5rem;
    background : none;
}

.console {
    padding        : 2px;
    border-radius  : 10px;
    text-align     : center;
    margin-top     : -0.5rem;
    margin-left    : 4rem;
    position       : absolute;
    text-decoration: none;
    color          : dodgerblue;
}

.a_lists {
    margin-top: 10px;
}

#left {
    float: left;
}

#logo {
    color      : blue;
    margin-top : 11px;
    margin-left: 1rem;
}

.container {
    padding-top: 3.5rem;
    background : #eee;
    height     : 100vh;
    display    : flex;
}

.dropdown {
    position: relative;
    display : inline-block;
}

.dropdown-content {
    display         : none;
    position        : absolute;
    background-color: #fff;
    min-width       : 220px;
    margin-left     : -11.5rem;
    height          : auto;
    margin-top      : 1rem;
    border-radius   : 5px;
    box-shadow      : 1px 1px 3px #dbdbdb;
    overflow-x      : hidden;
    z-index         : 999;
    padding-top     : 1rem;
    border          : 1px solid #ebebeb;
}

.dropdown-content .a {
    color          : black;
    padding        : 12px 16px;
    text-decoration: none;
    display        : block;
}

.dropdown-content h4 {
    color        : black;
    font-weight  : 200;
    margin-bottom: 1rem;
    margin-top   : -1.5rem;
    position     : absolute;
    margin-left  : 5rem;
}

.user_inline {
    display: flex;
}

.user_inline img {
    position: absolute;
}

.dropdown-content .a:hover {
    background-color: #ddd
}

.dropdown-content button,
i,
p {
    color          : black;
    padding        : 12px 16px;
    text-decoration: none;
    display        : block;
}

.dropdown-content button:hover {
    background-color: #ddd
}

.show {
    display: block;
}

.user-info {
    padding: 8px 6px;
}

#btn {
    cursor: pointer;
}

header {
    background   : #ffffff;
    width        : 15rem;
    overflow-x   : hidden;
    overflow-y   : auto;
    margin-left  : 1rem;
    margin-top   : 1rem;
    position     : sticky;
    padding-top  : 5px;
    padding-bottom  : 20px;
    border-radius: 10px;
    height       : 94%;
    box-shadow   : var(--shadow2);
}

header ul li {
    margin-left: 1rem;
    height     : 3rem;
    display    : flex;
    margin-top: 1.2rem;
    width: fit-content;
    height: fit-content;
}

header ul li a {
    display: flex;
}

header ul li a img {
    height       : 31px;
    width        : 31px;
    margin-top: -5px;
    margin-right : 5px;
    border-radius: 50%;
}

header ul li label {
    font-weight: 900;
    font-size  : 1.2rem;
}

.content {
    height       : 100%;
    overflow: auto;
    background: #fff;
    border-radius: 10px;
    padding-right: 9px;
    margin-left  : 1rem;
    margin-right  : 1rem;
    width        : 48rem;
    margin-top   : 1rem;
}
.content a{
    color: black;
}
.flex{
    display: flex;
}
.banner{
    margin-top: 1rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
    display: flex;
    border-bottom: 1.5px solid #eee;
}
.banner img{
    max-height: 10rem;
    max-width: 10rem; 
    width: auto;
    height: auto;
    border-radius: 10px;
}
.banner .date{
    background: #03CDFF;
    width: 40px;
    height: 50px;
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
}
.banner h1{
    margin-left: 10px;
    text-align: left;
    max-width: 60vw;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    justify-content: space-between;
    margin-top: -8px;
}.inline span{
    margin-left: 12px;
}
.inline span:nth-child(2){
    margin-left: 2rem;
}
.inline p{
    margin-top: -10px;
    overflow: hidden;
    height: 45%;
font-size: 13px;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
.flex img{
    height: 40px;
    width: 40px;
}
.banner_text{
    margin-left: 10px;
    text-align: center;
}
.banner_text h4{
    font-weight: 500;
}
.banner_text h6{
    font-weight: 100;
}
.event{
    background: #fff;
    height: 10rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    border-radius: 10px;
    width: 13rem;
}
.event h4{
    text-align: center;
    font-weight: 600;
}
.thumbnail img{
    width: 100%;
    max-height: 20rem;
    border-radius: 10px;
    object-fit: cover;
}
.profile{
    margin-top: -3.5rem;
    height: 120vh;
}
.user-profile{
    background: #eee;
    width: 100vw;
}
.profile .content{
    overflow: auto;
}
.header{
    width: 20rem;
}
.card{
    position: absolute;
    margin-top: -5rem;
    margin-left: 2rem;
    background: var(--glass);
    border-radius: 10px;
    padding: 1rem;
    height: auto;
    display: flex;
    box-shadow: var(--shadow4);
    backdrop-filter: blur(10px);
    width: 70vw;
}

.card img{
    max-height: 6rem;
    max-width: 6rem;
    height: 6rem;
    width: 4rem;
    border-radius: 10px;
}
.card h1{
    margin-left: 15px;
    letter-spacing: 1.5px;
}
.card p{
    color: #707070;
    letter-spacing: 1.2px;
}
.card p:nth-child(3){
    margin-top: -1.3rem;
}
.shorts{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.shorts ul li{
    display: inline;
    margin-right: 1rem;
}
.shorts ul li a{
    color: dodgerblue;
}
.card .inline{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    margin-left: 4rem;
}
.content .flex{
    margin-top: 4rem;
    border-radius: 10px;
}
.content .flex .section1{
    color: #707070;
    width: 20rem;
    padding: 10px;
    border-radius: 10px;
    background: var(--glass);
}
.content .flex .section2{
    color: #707070;
    background: var(--glass);
    width: 20rem;
    padding: 10px;
    border-radius: 10px;
    margin-left: 1rem;
}
.container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
  }
  h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
  }
  h1 small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
  }
  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  





@media screen and (max-width: 800px) {
    header{
        display: none;
    }
    .events{
        display: none;
    }
    .card{
        width: 80vw;
    }
    .shorts ul li{
        display: block;
    }
}