<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <style>
        html{
            overflow: auto;
        }
        header{
            position: fixed;
        }
        .content{
            margin-left: 25rem;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <section class="container profile">
        <!-- side nav -->
        <header class="header">
            <ul>
                <li><a href="#"><img src="../static/img/user.png" alt=""> Allen Walker</a></li>
      <li><a href="#"><img src="../static/img/user.png" alt=""> Morven Rechard</a></li>
      <li><a href="#"><img src="../static/img/user.png" alt=""> Alok Dubey</a></li>
      <li><a href="#"><img src="../static/img/user.png" alt=""> Harry Thomson</a></li>
      <li><a href="#"><img src="../static/img/user.png" alt=""> Joe Hawker</a></li>
      <li><a href="#"><img src="../static/img/user.png" alt=""> Rafeal Ratch</a></li>
      <li><a href="#"><img src="../static/img/user.png" alt=""> Aryan Khanna</a></li>
      <li><a href="#"><img src="../static/img/user.png" alt=""> Ayush Gupta</a></li>
      <li><a href="#"><img src="../static/img/user.png" alt=""> Nikita Atilkson</a></li>
      <li><a href="#"><img src="../static/img/user.png" alt=""> Tom Holland</a></li>
      <li><a href="#"><img src="../static/img/user.png" alt=""> Yakub Haesh</a></li>
      <li><a href="#"><img src="../static/img/user.png" alt=""> Shii Mau Lee</a></li>
            </ul>
        </header>
        <!-- end side nav -->

        <!-- thumbnail -->
        <section class="user-profile content">
            <div class="thumbnail">
                <img src="../static/img/IMG-20201210-WA0071.jpg" alt="Thumbnail">
            </div>
            <!-- end thumbnail -->
            
            <!-- profile -->
            <div class="card">
                <div class="card-img">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload"></label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inline">
                    <h1>Allen Walker</h1>
                    <p>CEO / CO-FOUNDER Wellesoft</p>
                    <p>22.3B Followers</p>
                </div>
                <div class="shorts">
                    <ul>
                        <li><a href="#"><i class="fas fa-cube"></i> Console</a></li>
                        <li><a href="#"><i class="fas fa-image"></i> Posts</a></li>
                        <li><a href="#"><i class="fas fa-globe"></i> Social</a></li>
                    </ul>
                </div>
            </div>
            <!-- End profile -->

            <!-- user profile info -->
            <div class="flex">
                <div class="section1">
                    <label>Profile Information</label>
                    <p>Hii, I,m Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores molestiae ad, iste quos expedita laborum temporibus saepe? Enim sed expedita, repudiandae accusamus voluptatum ipsa odit laudantium culpa, modi iusto in! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, nemo optio tempore incidunt laborum itaque non sit dicta eaque nulla aut natus? Sint rem sequi recusandae aut fugit sit tenetur!</p>
                </div>

                <div class="section2">
                    <label>Projects</label>
                </div>
            </div>
            <!-- end user profile info -->
        </section>
    </section>
    <script src="../static/js/function.js"></script>
</body>
</html>